{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block custom_head_content %}
  <style>
    .module-title {
      font-weight:800;
    }

    #consent_form input {
      margin-bottom:1.2em
    }

    .active_module {
      border-width:3px !important;
      border-color: #F72C25 !important;
    }
  </style>

  <link rel="stylesheet" href="{% static 'gabm/sneat/assets/vendor/libs/select2/select2.css' %}" />
  <link rel="stylesheet" href="{% static 'gabm/sneat/assets/vendor/libs/@form-validation/umd/styles/index.min.css' %}" />
  <link rel="stylesheet" href="{% static 'gabm/sneat/assets/vendor/libs/bs-stepper/bs-stepper.css' %}" />
{% endblock custom_head_content %}

{% block content %}
  <div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="py-3 mb-4">Select Chat</h4>

      <div class="card mt-5" style="margin-top:0em !important">
        
        <h4 class="p-3">Chat with the simulated interviewees</h4>
        <div class="card-body row">

          <div class="col-lg-12">

            <div class="card-body">
              <div class="added-cards">

                <div class="cardMaster border p-3 rounded mb-3">
                  <div class="d-flex justify-content-between flex-sm-row flex-column">
                    <div class="card-information">
                      <p>

                        <div class="col-md-12">
                          <div class="card">
                            <div class="table-responsive text-nowrap">
                              <table class="table text-nowrap" style="font-size:0.8em">
                                <thead>
                                  <tr>
                                    <th>Name</th>
                                    <th>Created</th>
                                    <th>Interview Status</th>
                                    <th>Duration</th>
                                    <th>Chat</th>
                                    <th>Reflections</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                  {% for i in all_interviews %}
                                    <tr>
                                      <td>
                                        <div class="d-flex align-items-center">
                                          <img
                                            src="{{i.participant.avatar.front_static.url}}"
                                            alt="Oneplus"
                                            height="32"
                                            width="32"
                                            class="me-2" />
                                          <div class="d-flex flex-column">
                                            <span class="fw-medium lh-1" >{{i.participant.first_name}} {{i.participant.last_name}}</span>
                                            <small class="text-muted" >{{i.participant.email}}</small>
                                          </div>
                                        </div>
                                      </td>
                                      <td>
                                        {{i.created}} 
                                      </td>
                                      <td>
                                        {% if i.completed%}
                                          Completed
                                        {% else %}    
                                          In progress
                                        {% endif %}
                                      </td>
                                      <td>
                                        {{i.completed_sec}} 
                                      </td>
                                      <td>
                                        <a href="{% url 'chat' i.participant.username i.script_v %}" class="badge bg-label-primary">Select</a>
                                      </td>
                                      <td>
                                        Out of date
                                      </td>
                                      <td>
                                        <a href="{% url 'chat' i.participant.username i.script_v %}" class="badge bg-label-primary">Update</a>
                                      </td>

                                    </tr>
                                  {% endfor %}
                                  
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        
                      </p>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>


          

        </div>
      </div>

    </div>
  </div>
{% endblock content %}


{% block modal_block %}
{% endblock modal_block %}



{% block js_content %}
  <script src="{% static 'gabm/sneat/assets/vendor/libs/cleavejs/cleave.js' %}"></script>
  <script src="{% static 'gabm/sneat/assets/vendor/libs/cleavejs/cleave-phone.js' %}"></script>
  <script src="{% static 'gabm/sneat/assets/vendor/libs/select2/select2.js' %}"></script>
  <script src="{% static 'gabm/sneat/assets/vendor/libs/@form-validation/umd/bundle/popular.min.js' %}"></script>
  <script src="{% static 'gabm/sneat/assets/vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js' %}"></script>
  <script src="{% static 'gabm/sneat/assets/vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js' %}"></script>
  <script src="{% static 'gabm/sneat/assets/vendor/libs/bs-stepper/bs-stepper.js' %}"></script>

  <script src="{% static 'gabm/sneat/assets/js/modal-create-app.js' %}"></script>
  
{% endblock js_content %}