{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block custom_head_content %}
  <style>
    .module-title {
      font-weight:800;
    }

    #consent_form input {
      margin-bottom:1.2em
    }

    .active_module {
      border-width:3px !important;
      border-color: #F72C25 !important;
    }

    .ai_chat {
      background-color: #e7e7ff;
      border-radius: 5px;
      margin-bottom: 5px;
      padding: 10px;
      max-width: 70%;
    }

    .user_chat {
      background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
      border-radius: 5px;
      margin-bottom: 5px;
      padding: 10px;
      max-width: 70%;
    }
  </style>

  <link rel="stylesheet" href="{% static 'gabm/sneat/assets/vendor/libs/select2/select2.css' %}" />
  <link rel="stylesheet" href="{% static 'gabm/sneat/assets/vendor/libs/@form-validation/umd/styles/index.min.css' %}" />
  <link rel="stylesheet" href="{% static 'gabm/sneat/assets/vendor/libs/bs-stepper/bs-stepper.css' %}" />
{% endblock custom_head_content %}

{% block content %}
  <div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="py-3 mb-4"><a href="{% url 'chat_selection' %}">Select Chat</a> / <strong>Chatting with {{curr_user.first_name}} {{curr_user.last_name}}</strong></h4>

      <div class="card g-3 mt-5" style="margin-top:0em !important">
        <div class="card-body row g-3">
          
          <div class="col-lg-8">

            <div class="card-body">
              <div class="added-cards">

                <div class="cardMaster border p-3 rounded mb-3">
                  <div class="card-information">
                    <div style="height: 60vh; overflow-y: auto;" id="chat-box">
                      {% for message in messages %}
                        {% if message.role == 'user' %}
                          <div class="d-flex flex-row-reverse" style="width: 100%;">
                            <p class="user_chat">
                              {{ message.content|linebreaksbr }}
                            </p>
                          </div>
                        {% else %}
                          <div class="d-flex" style="width: 100%;">
                            <p class="ai_chat">
                              {{ message.content|linebreaksbr }}
                            </p>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>

                    <div>
                      <form action="/send_chat/" method="post" id="chat-form">
                        {% csrf_token %}
                        <div class="d-flex flex-column">
                          <textarea class="input my-2 auto-expand p-2 " style="width:100%" id="new-chat" name="new-chat" placeholder="Ask anything" required autocomplete="off"></textarea>
                          <div class="d-flex justify-content-between mt-2">
                            <button class="btn btn-label-secondary" type="button" onclick="location.reload();">Clear Chat</button>
                            <button class="btn btn-label-secondary mx-2" type="button" onclick="sendChat(document.getElementById('new-chat').value)">
                                Send
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                    
                  </div>
                </div>

              </div>
            </div>
          </div>


          <div class="col-lg-4">
            <div class="card-header align-items-center">
              <h5 class="card-action-title mb-0">Chat Settings</h5>
            </div>
            <div class="card-body d-flex flex-column">
              <small class="text-muted text-uppercase">Brain Selected</small>
              <select id="brain" name="brain" class="form-select">
                <option value="park" {% if brain == "park" %}selected{% endif %}>Park</option>
                <option value="doppleganger" {% if brain == "doppleganger" %}selected{% endif %}>Doppleganger</option>
              </select>
              <br>
              <small class="text-muted text-uppercase">With Reflection</small>
              <select id="experts" name="experts" multiple class="form-select">
                {% if "all" in selected_experts %}
                  <option value="all" selected>All</option>
                {% else %}
                  <option value="all">All</option>
                {% endif %}
                {% if "none" in selected_experts %}
                  <option value="none" selected>None</option>
                {% else %}
                  <option value="none">None</option>
                {% endif %}
                {% for expert in experts %}
                  {% if expert in selected_experts %}
                    <option value="{{ expert }}" selected>{{ expert }}</option>
                  {% else %}
                    <option value="{{ expert }}">{{ expert }}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <div class="d-flex flex-row-reverse">
                <small class="text-muted">ctrl + click to select multiple</small>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
{% endblock content %}

{% block js_content %}
  <script src="{% static 'gabm/sneat/assets/vendor/libs/cleavejs/cleave.js' %}"></script>
  <script src="{% static 'gabm/sneat/assets/vendor/libs/cleavejs/cleave-phone.js' %}"></script>
  <script src="{% static 'gabm/sneat/assets/vendor/libs/select2/select2.js' %}"></script>
  <script src="{% static 'gabm/sneat/assets/vendor/libs/@form-validation/umd/bundle/popular.min.js' %}"></script>
  <script src="{% static 'gabm/sneat/assets/vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js' %}"></script>
  <script src="{% static 'gabm/sneat/assets/vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js' %}"></script>
  <script src="{% static 'gabm/sneat/assets/vendor/libs/bs-stepper/bs-stepper.js' %}"></script>

  <script src="{% static 'gabm/sneat/assets/js/modal-create-app.js' %}"></script>

  <script>
    function sendChat(message) {
      var context = JSON.parse('{{ messages_json|escapejs }}');
      var user = '{{ curr_user.username|escapejs }}';
      var script_v = '{{ script_v|escapejs }}';
      var expert_select = document.getElementById('experts');
      var experts = Array.from(expert_select.selectedOptions).map(option => option.value);
      var brain = document.getElementById('brain').value;
      console.log("experts:", experts);
      fetch(`/send-chat/${user}/${script_v}/`, {
        method: "POST",
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          message: message,
          context: context,
          experts: experts,
          brain: brain
        })
      })
      .then(response => response.text())   // response is HTML string
      .then(html => {
        document.open();
        document.write(html);
        document.close();
      });
    }
  </script>

  <script>
    window.addEventListener("DOMContentLoaded", () => {
    const box = document.getElementById("chat-box");
    box.scrollTop = box.scrollHeight;
  });
  </script>
  
{% endblock js_content %}

















